.btn-teal {
	display: inline-block;
	border: 3px solid $teal;
	max-width: 160px;
	line-height: 1.2em;
	text-align: center;
	padding: 5px 15px;
	border-radius: 10px;
	color: $teal;
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 1.3rem;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		background: $teal;
		text-decoration: none;
		color: $white;
	}
}

.btn-pink {
	border: 3px solid $pink;
	display: inline-block;
	max-width: 160px;
	padding: 5px 15px;
	border-radius: 10px;
	line-height: 1.2em;
	color: $pink;
	font-family: Raleway, sans-serif;
	font-weight: 900;
	font-size: 1.3rem;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		background: $pink;
		text-decoration: none;
		color: $white;
	}
}
.btn-solid-blue {
	display: inline-block;
	background-color: $blue;
	max-width: 160px;
	line-height: 1.2em;
	text-align: center;
	padding: 5px 15px;
	border-radius: 10px;
	color: $white;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	letter-spacing: 0.05em;
	font-size: 1.3rem;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		background: $pink;
		text-decoration: none;
		color: $white;
	}
}
.ff-frank {
	font-family: $font-family-frank;
	font-size: 3.0rem;
}

