.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 60vh;
	z-index: 0;
}
.quote-sec--content {
	p {
		font-size: 2.2rem;
		font-family: $font-family-frank;
		color: $teal;
	}
}
.quote-mark {
	right: 0;
	max-width: 200px;
	width: 100%;
}
.value-container {
	h3 {
		font-family: $font-family-frank;
		font-size: 3.2rem;
	}
}
.plan-section {
	ul {
		list-style: none;

		li {
			display: flex;
			align-items: center;
			&:not(:first-child) {
				margin-top: 40px;
			}
			.card-img {
				max-width: 20%;
			}
			.card-content {
				margin-left: 20px;
				p:first-child {
					margin-bottom:  5px;
				}
			}
		}
	}
}
.section-container-which {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	.section-container {
		.section-container--content {
			text-align: center;
			margin-bottom: 40px;
			h3 {
				color: $white;
			}
			span {
				color: $white;
				font-size: 1.3rem;
				font-weight: 100;
			}
		}

		.section-container--cards {
				text-align: center;
			.container-card {
				width: 100%;
				background-repeat: no-repeat;
				background-size: contain;
				padding: 7em;
				display: flex;
				align-items: center;
			}
			h4 {
				color: $white;
			}
		}
	}
}
.left-content--img {
	width: 100%;
	margin-right: -10px;
	margin-top: 20px;
}
.service-section {
	background-color: rgb(241, 241, 241);

	.service-images {
		ul {
			list-style: none;
			li {

			}
			.img-responsive {
				border-radius: 50%;
				max-width: 200px;
			}
		}
	}
}
